.trackContainer{
    list-style: none;
    border-bottom: solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trackContent{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.trackContainer:last-child{
    border: none;
}

.buttonContainer{
    width: 100px;
    display: flex;
    justify-content: flex-end;
}

.albumCover{
    height: 60px;
    aspect-ratio: 1;
}

.btn{
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    border: none;
    transform: scale(1);
    transition: transform 150ms ease-in-out;
}

.btn:hover{
    filter: brightness(120%);
    transform: scale(1.2);
}

.remove{
    background-image: url(./round-minus.svg);
}

.addbtn {
    background-image: url(./round-plus.svg);
}

.play{
    background-image: url(./play-outline.svg);
}

.pause{
    background-image: url(./pause-outline.svg);
}