.highlight{
  color: var(--turq);
}

.playlist-app{
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.listContainers{
  background-color: var(--dark);
  color: var(--silver);
  width: 40%;
  padding: 1rem;
  overflow-y: auto;
  height: fit-content;
}

ul{
  padding: 0;
  margin: 0;
}

button{
  cursor: pointer;
}

.App{
  margin-top: 5rem;
}