.highlight{
  color: var(--turq);
}

.playlist-app{
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.listContainers{
  background-color: var(--dark);
  color: var(--silver);
  width: 40%;
  padding: 0 1rem 1rem 1rem;
  overflow-y: auto;
  height: fit-content;
  box-shadow: 1px 3px 30px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 3px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 3px 30px 0px rgba(0,0,0,0.75);
  border-radius: 1rem;
}

ul{
  padding: 0;
  margin: 0;
}

button{
  cursor: pointer;
}

.App{
  margin-top: 5rem;
}

@media (max-width: 1000px) {

  .playlist-app{
    flex-direction: column;
  }

  .listContainers{
    width: 80% !important;
  }
  
  .customContainer{
    width: 80% !important;
  }

  

}

@media (max-width: 500px){
  .playlistHeader label{
    display: none;
  }

  .searchContainer{
    gap: 0.1rem !important;
  }

  .searchBar{
    width: 70% !important;
  }
}