.cogDropDown{
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: absolute;
    top: 30px;
    transform: translateX(-2rem);
    z-index: 100;
    
}

.dropDownBtn{
    background-color: var(--dark);
    border: solid var(--silver);
    color: var(--silver);
}