.bottomCustom{
    height: 50%;
}



.customizeHeader{
    display: flex;
    justify-content: space-between;
}

.reset{
    background-color: transparent;
    border-radius: 50vh;
    border: 1px solid var(--turq);
    color: var(--turq);
    padding: 0.5rem;
    margin-right: 1rem;
}