.bottomCustom{
    height: 50%;
}



.customizeHeader{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;

}

.reset{
    background-color: transparent;
    border-radius: 50vh;
    border: 1px solid var(--turq);
    color: var(--turq);
    padding: 0.5rem;
    margin-right: 1rem;
}

.customContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40%;
}

.customContainer .listContainers{
    width: 100%;
}