
:root{
  --dark : #271033;
  --silver : #cccccc;
  --turq : #e55934;
  --sky : #56cbf9;
}



body {
  background-color: var(--turq);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 3rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  color: var(--silver);
  font-size: 4rem;
  text-align: center;
  background-color: var(--dark);
  margin: 0;
  padding: 2rem;
  border-radius: 0 0 50vh 50vh;
}